.card {
  width: 25rem;
  height: 30rem;
  transition: 1s ease-in;
  background: var(--gradient-background);
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card span {
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 1rem;
}

.info {
  font-weight: 500;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  height: 5rem;
}

.img {
  width: 4.8rem;
  height: 4.8rem;
  background: #fff;
  border-radius: 15px;
  margin: auto;
}

.share {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card a {
  color: #fff;
  transition: 0.2s ease-in-out;
}

.card a:hover {
  color: var(--primary-color);
}

.card button {
  padding: 0.8rem 1.7rem;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: var(--gradient-background);
  color: #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.card button:hover {
  background: linear-gradient(-45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  color: #fff;
}