.inputFilter {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.inputFilter_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: #222222; */
  background: var(--gradient-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 05px 20px 12px rgba(31,70,110,0.74);
  transition: all 0.2s linear;
}

.inputFilter_box:hover {
  box-shadow: 0px 10px 15px 12px rgba(31,70,110,0.74);
  transform: scale(1.05);
}

.inputFilter_box input {
  width: 100%;
  /* background-color: #222222; */
  background: none;
  outline: none;
  border: 0;
  color: #fff;
  font-size: 20px;
}

.toggleFilter {
  position: relative;
  padding: 1rem 0;
  /* background-color: #222222; */
  background: var(--gradient-background);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 05px 20px 12px rgba(31,70,110,0.74);
  transition: all 0.2s linear;
}

.toggleFilter:hover {
  box-shadow: 0px 10px 15px 12px rgba(31,70,110,0.74);
  transform: scale(1.05);
}

.toggleFilter_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.toggleFilter_box {
  position: absolute;
  width: 85%;
  /* background-color: #222222; */
  background: var(--gradient-background);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  z-index: 11111;
  box-shadow: 0px 05px 20px 12px rgba(31,70,110,0.74);
}

.toggleFilter_box p {
  cursor: pointer;
}

@media (max-width: 800px) {
  .inputFilter {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 600px) {
  .inputFilter {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

@media (max-width: 400px) {
  .inputFilter {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}