.inputFilter_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--gradient-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 05px 20px 12px rgba(31,70,110,0.74);
  transition: all 0.2s linear;
}

.inputFilter_box:hover {
  box-shadow: 0px 10px 15px 12px rgba(31,70,110,0.74);
  transform: scale(1.05);
}

.inputFilter_box input {
  width: 100%;
  background: none;
  outline: none;
  border: 0;
  color: #fff;
  font-size: 20px;
}

